
  <h1> Hello! </h1>
<% if @no_user %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>


<% if @user %>
<%= @user.email %>
<br>
<%= stripe_connect_button %>

  <%= button_to "logout", destroy_user_session_path, method: :delete  %>
<% end %>